<br>
<br>
<div align="center"><h2 id="article-previews">Article Previews</h2>
<br>
<br>
    <% @articles.each do |article| %>
            <%= image_tag(article.urlToImage, :size => "200x150", :crop => :fill) %>
            <h3><%= article.title %></h3>
            <h4><%= article.author %></h4>
            <h4><%= article.source_name %></h4>
            <p>
                <%= truncate(article.description, length: 200) %>
            </p>
            <br>
            <br>   
    <% end %>
</div>