<div align="center"><h2 class="basic-header">Country Details</h2>

<section class="narrow-item-background">
<p><strong>Name:</strong> <%= @country.name %></p>
<p><strong>Region:</strong> <%= @country.region.name %></p>
</section>

<br>
<p class="basic-header"><strong>Associated News Articles:</strong></p>
<br>

<section class="medium-item-background">
<% @articles.each do |article| %>
    <% if article.country_id == @country.id %>
        <p><strong>Title:</strong> <%= article.title %></p>
        <p><strong>URL:</strong> <%= link_to article.url, "#{article.url}" %></p>
        <br>
    <% end %>
<% end %></section>

<br>
<nav id="country-edit-link">
<%= link_to 'Edit', edit_country_path(@country) %> |
<%= link_to 'View other countries in this region', region_countries_path(@country.region) %></nav></div>