<div align="center"><h2 class="basic-header">Regions</h2>


<% @regions.each do |region| %>
    <p><%= region.name %></p> 
    <%= link_to 'Show', region %>
    <%= link_to 'Edit', edit_region_path(region) %>
    <%= link_to 'Delete', region, method: :delete, data: { confirm: 'Are you sure you want to remove this region?' } %>
<% end %>

<br>
<br>
<br>
<nav class="wider-link">
<%= link_to 'Add New Region', new_region_path %>
</nav>
<br>

</div>